<!DOCTYPE html>
<link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />       @*Shared Layout for cart page*@
    <title>@ViewBag.Title</title>
</head>
<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">The New Amazon Bookstore</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
